<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card header="Users" subheader="list of users">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              label="New"
              icon="pi pi-plus"
              routerLink="/users/form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="users"
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Email</th>
              <th>Is Admin</th>
              <th>Country</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <p-tag
                  *ngIf="user.isAdmin"
                  icon="pi pi-check"
                  severity="success"
                  [rounded]="true"
                ></p-tag>
                <p-tag
                  *ngIf="!user.isAdmin"
                  icon="pi pi-check"
                  severity="danger"
                  [rounded]="true"
                ></p-tag>
              </td>
              <td>{{ getCountryName(user.country) }}</td>
              <td>
                <p-button
                  (click)="deleteUser(user.id)"
                  icon="pi pi-trash"
                  styleClass="p-button-danger mr-2"
                ></p-button
                ><p-button
                  icon="pi pi-pencil"
                  styleClass="p-button-success"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="1000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
