<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card header="Products" subheader="list of products">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              label="New"
              icon="pi pi-plus"
              routerLink="/products/form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="products"
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll"
          [paginator]="true"
          [rows]="10"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Image</th>
              <th pSortableColumn="price">
                Price <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="stock">
                Stock <p-sortIcon field="stock"></p-sortIcon>
              </th>
              <th pSortableColumn="category">
                Category <p-sortIcon field="category"></p-sortIcon>
              </th>
              <th pSortableColumn="created">
                Created at<p-sortIcon field="created"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.name }}</td>
              <td><img [src]="product.image" alt="" /></td>
              <td>{{ product.price }}</td>
              <td>{{ product.countInStock }}</td>
              <td>{{ product.category.name }}</td>
              <td>{{ product.dateCreated | date: 'mediumTime' }}</td>
              <td>
                <p-button
                  (click)="deleteProduct(product.id)"
                  icon="pi pi-trash"
                  styleClass="p-button-danger mr-2"
                ></p-button
                ><p-button
                  (click)="updateProduct(product.id)"
                  icon="pi pi-pencil"
                  styleClass="p-button-success"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="1000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
