<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit User' : 'Add User'"
    subheader="You can add or edit users"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-right">
            <p-button
              [label]="editMode ? 'Update' : 'Create'"
              class="p-button-primary mr-2"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button
            ><p-button
              label="Cancle"
              (click)="onCancel()"
              styleClass="p-button-secondary"
              icon="pi pi-arrow-circle-left"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="userForm['name'].invalid && isSubmitted"
                class="p-error"
                >Name is required</small
              >
            </div>
            <div class="field col-4">
              <label for="email">Email</label>
              <input
                formControlName="email"
                id="email"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="userForm.email.invalid && isSubmitted"
                class="p-error"
                ><span *ngIf="userForm.email.errors!.required"
                  >email is required</span
                >
                <span *ngIf="userForm.email.errors!.email"
                  >email is invalid</span
                ></small
              >
            </div>

            <div class="p-fluid field col-4">
              <label for="password">Password</label>
              <input
                formControlName="password"
                id="password"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="userForm['password'].invalid && isSubmitted"
                class="p-error"
                >Password is required</small
              >
            </div>

            <div class="field col-4">
              <label for="phone">Phone</label>
              <br />
              <p-inputMask
                formControlName="phone"
                mask="(+84) 999 9999 000"
                placeholder="(+84) 999 9999 999"
              ></p-inputMask>
              <small
                *ngIf="userForm['phone'].invalid && isSubmitted"
                class="p-error"
                >Phone is required</small
              >
            </div>

            <div class="field col-4">
              <label for="isAdmin">Is Admin</label>
              <br />
              <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
            </div>
          </div>

          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="street">Street</label>
              <input
                formControlName="street"
                id="street"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>
            <div class="field col-4">
              <label for="apartment">Apartment</label>
              <input
                formControlName="apartment"
                id="apartment"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>

            <div class="field col-4">
              <label for="zip">Zip code</label>
              <input
                formControlName="zip"
                id="zip"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>

            <div class="field col-4">
              <label for="city">City</label>
              <input
                formControlName="city"
                id="city"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
            </div>

            <div class="field col-4">
              <label for="country">Country</label>
              <br />
              <p-dropdown
                [options]="countries"
                formControlName="country"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Country"
              ></p-dropdown>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
