<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit Category' : 'Add Category'"
    subheader="You can add or edit categories"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-left">
            <p-button
              [label]="editMode ? 'Edit' : 'Create'"
              class="p-button-primary mr-2"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button
            ><p-button
              label="Cancle"
              (click)="onCancel()"
              styleClass="p-button-secondary"
              icon="pi pi-arrow-circle-left"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="formgrid grid">
            <div class="field col">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="categoryForm['name'].invalid && isSubmitted"
                class="p-error"
                >Name is required</small
              >
            </div>
            <div class="field col">
              <label for="icon">Icon</label>
              <input
                formControlName="icon"
                id="icon"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="categoryForm['icon'].invalid && isSubmitted"
                class="p-error"
                >icon is required</small
              >
            </div>

            <div class="field col">
              <label for="color">Color</label><br />
              <p-colorPicker formControlName="color"></p-colorPicker>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
