<div class="login-register">
  <div class="login-register-panel">
    <div class="grid p-fluid content">
      <div class="col-6 img-content">
        <img src="assets/img/Neon.gif" alt="" />
      </div>
      <div class="col-6 p-5 right">
        <h3>Welcome</h3>
        <h2>Login Page</h2>
        <form [formGroup]="loginForm">
          <div class="grid mt-6 p-fluid">
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-user"></i
                ></span>
                <input
                  type="text"
                  formControlName="email"
                  pInputText
                  placeholder="Email"
                />
              </div>
              <small *ngIf="loginF.email.invalid && isSubmitted" class="p-error"
                ><span *ngIf="loginF.email.errors!.required"
                  >email is required</span
                >
                <span *ngIf="loginF.email.errors!.email"
                  >email is invalid</span
                ></small
              >
            </div>
            <div class="col-12">
              <div class="p-inputgroup">
                <span class="p-inputgroup-addon"
                  ><i class="pi pi-lock"></i
                ></span>
                <input
                  type="password"
                  formControlName="password"
                  pInputText
                  placeholder="Password"
                />
              </div>
              <small
                *ngIf="loginF.password.invalid && isSubmitted"
                class="p-error"
                >Password is required</small
              >
            </div>

            <div class="col-12">
              <p-button
                label="Log in"
                class="full-btn"
                (onClick)="onSubmit()"
              ></p-button>
            </div>

            <div class="p-col-12" *ngIf="isSubmitted && authError">
              <small class="p-error">{{ authMessage }}</small>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
