.login-register {
  background-image: linear-gradient(235deg, #565867, #191a25);
  height: 100vh;
  &-panel {
    border-radius: 20px;
    overflow: hidden;
    width: 650px;
    height: 525px;
    .content {
      height: 525px;
      margin: 0;
    }
    background-color: var(--surface-a);
    position: absolute;
    left: calc(50% - 325px);
    top: calc(50% - 260px);
    .img-content {
      img {
        height: 525px;
        padding-bottom: 0.5rem;
      }
      height: 525px;
      background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
    }
    .full-btn {
      width: 100%;
    }
  }
}
