<p-toast position="top-right"></p-toast>
<div class="admin-page" *ngIf="order">
  <p-card [header]="'View Order'" subheader="You can add or edit categories">
    <p-fieldset legend="Order Deitails" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{ order.id }}</p>
        </div>
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{ order.dateOrdered | date: 'short' }}</p>
        </div>
        <div class="col-4">
          <h5>Order Id</h5>
          <p-dropdown
            [options]="orderStatuses"
            [(ngModel)]="selectedStatus"
            optionLabel="name"
            optionValue="id"
            (onChange)="onStatusChange($event)"
          ></p-dropdown>
        </div>
        <div class="col-4">
          <h5>Order Id</h5>
          <p>{{ order.totalPrice | currency }}</p>
        </div>
      </div>
    </p-fieldset>
    <p-fieldset legend="Order Items" [toggleable]="true">
      <div class="grid mb-5">
        <div class="col-2 font-bold">Name</div>
        <div class="col-2 font-bold">Brand</div>
        <div class="col-2 font-bold">Category</div>
        <div class="col-2 font-bold">price</div>
        <div class="col-2 font-bold">Quantity</div>
        <div class="col-2 font-bold">Subtotal</div>
      </div>
      <div class="grid mb-5" *ngFor="let orderItem of order.orderItems">
        <div class="col-2">{{ orderItem.product?.name }}</div>
        <div class="col-2">{{ orderItem.product?.brand }}</div>
        <div class="col-2">{{ orderItem.product?.category?.name }}</div>
        <div class="col-2">{{ orderItem.product?.price | currency }}</div>
        <div class="col-2">{{ orderItem.quantity }}</div>
        <!-- <div class="col-2">
          {{ orderItem?.product?.price * orderItem?.quantity | currency }}
        </div> -->
      </div>
      <div class="grid" style="color: green">
        <div class="col-2 p-offset-8 font-bold">Total Price</div>
        <div class="col-2">{{ order.totalPrice }}</div>
      </div> </p-fieldset
    ><p-fieldset legend="Order Address" [toggleable]="true">
      <div class="grid">
        <div class="col-4">
          <h5>Order Address</h5>
          <p>
            {{ order.shippingAddress1 }}
            <br />
            {{ order.shippingAddress2 }}
            <br />
            {{ order.zip }} {{ order.city }}
            <br />
            {{ order.country }}
            <br />
          </p>
        </div>

        <div class="col-4">
          <h5>Customer Info</h5>
          <p>
            {{ order.user?.name }}
          </p>
        </div>
        <div class="col-4">
          <h5>Contact Info</h5>
          <p>
            {{ order.phone }}
          </p>
        </div>
      </div>
    </p-fieldset>
  </p-card>
</div>
