.product-banner {

    .col-3 {
        width: 18%;
    }

    .product {
        background-color: #E8E8E8;
        padding: 35px 60px;
        border-radius: 12px;
    }

    .product-image {
        position: relative;
    }

    .product-image img {
        position: absolute;
        width: 200px;
        transform: translate(-50%, -80%);
    }

    .btn-add-card {
        border: none;
        padding: 8px;
        border-radius: 5px;
        background-color: #E61616;
        color: #fff;
        font-size: 12px;
    }
}