<div class="product-banner">
    <h2>{{'common.featuredProduct' | translate}}</h2>
    <div class="grid justify-content-around mt-8">
        <div class="col-3" *ngFor="let product of featuredProduct">
            <product-items [product]="product"></product-items>
        </div>
    </div>
</div>