@import 'styles/base/color.scss';

.nav {
    .nav-link {
        list-style: none;

    }

    a {
        color: var(--surface-500);

        &:hover {
            color: $primary-color;
        }
    }
}