<nav class="nav">
    <ul class="flex gap-3 nav-link">
        <li><a routerLink="" actived>{{'nav.home'| translate}}</a></li>
        <li><a routerLink="product">{{'nav.products' | translate}}</a></li>
        <li><a routerLink="contact">{{'nav.contact' | translate}}</a></li>
    </ul>
</nav>