<footer class="footer mt-5">
    <div class="flex justify-content-between align-items-center">
        <p class="ml-2 font-light">
            &#169; {{prevNumber | date: "YYYY"}} - {{lastNumber}} {{'common.nameShop' | translate}}
        </p>
        <div class="flex gap-3 mr-2">
            <i class="pi pi-facebook"></i>
            <i class="pi pi-instagram"></i>
            <i class="pi pi-youtube"></i>
            <i class="pi pi-twitter"></i>
        </div>
    </div>
</footer>