<div [routerLink]="'/product/' + product.id"
    class="product flex align-items-center justify-content-center flex-column text-center" *ngIf="product">
    <div class="product-image">
        <img [src]="product.image" alt="Error">
    </div>
    <p class="mt-5" title="{{product.name}}"> {{product.name | textTransform:15}} </p>
    <p class="mt-0">{{product.price}}$</p>
    <button class="btn-add-card flex align-items-end gap-2 cursor-pointer">
        <i class="pi pi-shopping-cart"></i>
        <span>Add to cart</span>
    </button>
</div>