.product {
    background-color: #E8E8E8;
    padding: 60px 60px 35px 60px;
    border-radius: 12px;
    cursor: pointer;
}

.product-image {
    position: relative;
}

.product-image img {
    position: absolute;
    width: 200px;
    transform: translate(-50%, -80%);
}

.btn-add-card {
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #E61616;
    color: #fff;
    font-size: 12px;
}