<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card
    [header]="editMode ? 'Edit Product' : 'Add Product'"
    subheader="You can add or edit products"
  >
    <div class="grid mb-5">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left"></div>
          <div class="p-toolbar-group-left">
            <p-button
              [label]="editMode ? 'Edit' : 'Create'"
              class="p-button-primary mr-2"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button
            ><p-button
              label="Cancle"
              (click)="onCancel()"
              styleClass="p-button-secondary"
              icon="pi pi-arrow-circle-left"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <form [formGroup]="form">
          <div class="p-fluid formgrid grid">
            <div class="field col">
              <label for="name">Name</label>
              <input
                formControlName="name"
                id="name"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="productForm.name.invalid && isSubmited"
                class="p-error"
                >Name is required</small
              >
            </div>
            <div class="field col">
              <label for="brand">brand</label>
              <input
                formControlName="brand"
                id="icon"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              />
              <small
                *ngIf="productForm.brand.invalid && isSubmited"
                class="p-error"
                >Brand is required</small
              >
            </div>
            <div class="field col">
              <label for="price">Price</label><br />
              <p-inputNumber
                formControlName="price"
                mode="decimal"
                inputId="price"
                [useGrouping]="false"
              >
              </p-inputNumber>
              <small
                *ngIf="productForm.price.invalid && isSubmited"
                class="p-error"
                >Price is required</small
              >
            </div>
          </div>

          <div class="p-fluid formgrid grid">
            <div class="field col-4">
              <label for="countInStock">countInStock</label>
              <br />
              <p-inputNumber
                formControlName="countInStock"
                mode="decimal"
                inputId="countInStock"
                [useGrouping]="false"
              >
              </p-inputNumber>
              <small
                *ngIf="productForm.countInStock.invalid && isSubmited"
                class="p-error"
                >Count in stock is required</small
              >
            </div>

            <div class="field col-4">
              <label for="category">Category</label>
              <br />
              <p-dropdown
                [options]="categories"
                formControlName="category"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Category"
              ></p-dropdown>
              <small
                *ngIf="productForm.category.invalid && isSubmited"
                class="p-error"
                >Category in stock is required</small
              >
            </div>

            <div class="field col-4">
              <label for="isFeatured">Is Featured</label>
              <br />
              <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
            </div>

            <div class="field col-12">
              <label for="description">Description</label>
              <br />
              <textarea
                rows="7"
                cols="30"
                formControlName="description"
                pInputTextarea
              ></textarea>
              <small
                *ngIf="productForm.description.invalid && isSubmited"
                class="p-error"
                >Description in stock is required</small
              >
            </div>

            <div class="field col-12">
              <label for="richDescription">Product Details</label>
              <br />
              <p-editor
                formControlName="richDescription"
                [style]="{ height: '320px' }"
              ></p-editor>
            </div>

            <div class="field col-12">
              <label for="richDescription">Main Image</label>
              <input
                type="file"
                class="p-inputtext"
                (change)="onImageUpload($event)"
              />
              <small
                *ngIf="productForm.image.invalid && isSubmited"
                class="p-error"
                >Image is required</small
              >
              <div class="col-2 mt-2 pl-0">
                <img [src]="imgDisplay" alt="" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
