<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card header="Orders" subheader="list of orders">
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="orders"
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                User <p-sortIcon field="user"></p-sortIcon>
              </th>
              <th pSortableColumn="totalPrice">
                Total Price <p-sortIcon field="totalPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="dateOrdered">
                Date Ordered <p-sortIcon field="dateOrdered"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                Status <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-orders>
            <tr>
              <td>{{ orders.user.name }}</td>
              <td>{{ orders.totalPrice }}</td>
              <td>{{ orders.dateOrdered | date: 'short' }}</td>
              <td>
                <p-tag
                  [value]="orderStatus[orders.status].label"
                  [severity]="orderStatus[orders.status].color"
                ></p-tag>
              </td>

              <td>
                <p-button
                  (click)="deleteOrder(orders.id)"
                  icon="pi pi-trash"
                  styleClass="p-button-danger mr-2"
                ></p-button
                ><p-button
                  (click)="showOrder(orders.id)"
                  icon="pi pi-eye"
                  styleClass="p-button-success"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="1000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
