.admin {
  &-sidebar {
    position: fixed;
    width: 175px;
    background-color: #0a1d31;
    height: 100%;
    top: 0;
    .logo {
      padding: 20px;
      width: 100%a;
      img {
        max-width: 100%;
      }
    }
    .links {
      ul {
        margin: 0;
        padding: 0;
        li {
          display: block;
          list-style: none;
          width: 100%;
          a {
            color: var(--surface-a);
            padding: 10px 15px;
            display: block;
            width: 100%;

            &:hover {
              background-color: var(--blue-700);
            }
            i {
              margin-right: 8px;
              margin-top: 0;
            }
            &.logout {
              color: var(--pink-300);
            }
          }
        }
      }
    }
  }
}
