<div class="banner mt-4">
    <div class="flex align-items-center justify-content-around p-3">
        <div class="banner-text">
            <span class="banner-first-text">{{'ui-banner.headerText' | translate}}</span>
            <span class="banner-second-text">{{'ui-banner.headerText1' | translate}}</span>
            <div class="mt-3">
                <button class="button-see">{{'ui-banner.btnSeeMore' | translate}} &#8250;</button>
            </div>
        </div>
        <div class="banner-image">
            <img src="assets/img/banner-image.svg" alt="banner-image" class="animate__animated animate__slideInLeft">
        </div>
    </div>
</div>