$text-color: #676767;

.banner {
    background: #D7EFFB;
    border-radius: 27px;

    .banner-text {
        color: $text-color;

        .banner-first-text {
            font-size: 48px;
            display: block;
        }

        .banner-second-text {
            font-size: 40px;
        }

        .button-see {
            border-radius: 13px;
            border: none;
            background-color: #FFFFFF;
            color: #EDAA78;
            padding: 15px;
            cursor: pointer;
        }
    }
}