.categories-banner {

    .grid {
        justify-content: center;
        gap: 2.5rem;
    }

    .col-2 {
        width: 15%;
    }

    .category {
        padding: 25px;
        border-radius: 10px;
        cursor: pointer;
    }

    .pi {
        font-size: 1.2rem;
        font-weight: 600;
    }
}
