<div class="categories-banner">
    <h2> {{'common.categories'| translate}} </h2>
    <div class="grid mt-5">
        <div class="col-2" *ngFor="let category of categories">
            <div class="category flex align-items-center flex-column" [routerLink]="'/category/' + category.id"
                [style]="{backgroundColor: category.color}">

                <div class="category-icon">
                    <i class="pi {{category.icon}}"></i>
                </div>
                <span class="category-name mt-2"> {{ category.name }} </span>

            </div>
        </div>
    </div>
</div>