<div class="product-page">
    <div class="grid">
        <div class="col-3" *ngIf="!isCategories">
            <h4>Categories</h4>
            <div class="field-checkbox" *ngFor="let category of categories">
                <p-checkbox [(ngModel)]="category.checked" [binary]="true" inputId="category.id"
                    (onChange)="categoriesFilter()"></p-checkbox>
                <label for="category.id">{{category.name}}</label>
            </div>
        </div>
        <div [ngClass]="{'col-9': !isCategories, 'col-12': isCategories}">
            <div class="grid row-gap-8" *ngIf="productItems">
                <div class="col-3" *ngFor="let products of productItems">
                    <product-items [product]="products"></product-items>
                </div>
            </div>
        </div>
    </div>
</div>