<div class="header">
    <div class="flex align-items-center justify-content-between">
        <img src="../../../assets/img/logo.png" class="w-10rem" alt="">
        <span class="p-input-icon-left">
            <i class="pi pi-search text-red-400"></i>
            <input class="border-round-3xl" type="text" pInputText placeholder="Find product">
        </span>
        <hsshop-nav></hsshop-nav>
        <div class="flex gap-2">
            <i class="pi pi-user"></i>
            <i class="pi pi-shopping-cart"></i>
        </div>
    </div>
</div>