<p-toast position="top-right"></p-toast>
<div class="admin-page">
  <p-card header="Categories" subheader="list of categories">
    <div class="grid">
      <div class="col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              label="New"
              icon="pi pi-plus"
              routerLink="/categories/form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="grid">
      <div class="col-12">
        <p-table
          [value]="categories"
          styleClass="p-datatable-gridlines"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name">
                Name <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th>Icon</th>
              <th>Color</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-categories>
            <tr>
              <td>{{ categories.name }}</td>
              <td><i class="pi" [ngClass]="'pi-' + categories.icon"></i></td>
              <td>
                <i
                  class="pi pi-circle-on color"
                  style="font-size: 2rem"
                  [ngStyle]="{ color: categories.color }"
                ></i>
              </td>
              <td>
                <p-button
                  (click)="deleteCategory(categories.id)"
                  icon="pi pi-trash"
                  styleClass="p-button-danger mr-2"
                ></p-button
                ><p-button
                  (click)="updateCategory(categories.id)"
                  icon="pi pi-pencil"
                  styleClass="p-button-success"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="1000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
